.article-type-selection svg {
    color: black;
}

.article-type-selection fieldset .MuiFormGroup-root {
    display: block;
    margin-bottom: 12px;
}

.article-type-selection fieldset .MuiFormGroup-root label {
    margin-right: 36px;
}

.article-type-header {
    display: flex;
}

.article-type-header svg {
    color: white;
    margin-right: 14px;
}