.profile-settings-page {
    color: white;
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    margin: 40px auto 0 auto;
    min-height: 100vh;
    width: 50%;
}

.profile-settings-section {
    grid-column: 2 / 2;
}

.profile-settings-section div {
    color: white;
}

.profile-settings-section label {
    color: white;
}