.blog-article-page {
    border-left: 1px solid #333333;
    border-right: 1px solid #333333;
    color: white;
    min-height: 100vh;
    margin: 80px auto;
    padding: 0 48px;
    width: 50%;
}

.blog-article-page h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7em;
}

.blog-article-page h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    margin: 48px 0 12px 0;
    text-align: center;
}

.blog-article-page p {
    font-size: 1.05em;
    text-align: justify;
    line-height: 1.5;
}

.blog-article-page a {
    color: #3f51b5;
}

.blog-article-page table {
    margin: 20px auto;
    width: 50%;
}

.blog-article-page th, td {
    text-align: center;
}

.blog-article-page th, td {
    height: 24px;
}

.blog-article-page table, th, td {
    border: 0.5px solid;
    border-collapse: collapse;
    border-style: solid;
}

.blog-article-page tr:nth-child(even) {
    background-color: #333;
}

.blog-article-page tfoot {
    font-size: 11px;
}