.timeline-item a {
    color: #3f51b5;
    margin: 0;
    text-decoration: none;
}

.timeline-item a:hover {
    color: #303F9F;
}

.timeline-item p {
    text-align: end;
    padding: 0 12px 12px 0;
}

.timeline-item h3 {
    padding: 12px 12px 0 12px;
}