.create-article-page {
    min-height: 100vh;
    margin: 50px auto 0 auto;
    width: 50%;
}

.create-article-page h2 {
    color: white;
}

.create-article-page label {
    color: white;
}

.create-article-page input {
    color: white;
}

.create-article-page a {
    display: block;
    text-decoration: none;
}

.create-article-page fieldset .MuiFormGroup-root {
    display: block;
    margin-bottom: 12px;
}

.create-article-page fieldset .MuiFormGroup-root label {
    margin-right: 36px;
}

#is-portfolio-article-checkbox {
    margin-bottom: 12px;
}

#createAnswerButton {
    margin-top: 16px;
}