.article-list-item {
    border-bottom: 1px solid #333333;
    color: white;
    display: flex;
    padding: 3px 0;
}

.article-list-item-left {
    align-items: center;
    display: flex;
    justify-content: center;
}

.article-list-item-left ul li {
    display: inline-block;
    margin-right: 16px; 
    text-align: center;
    list-style: none;
}

.article-list-item-right {
    flex-grow: 2;
    padding-left: 24px;
}

.article-list-item-right a {
    color: #3f51b5;
    margin: 0;
    text-decoration: none;
}

.article-list-item-right a:hover {
    color: #303F9F;
}

.article-list-item-right span {
    margin-right: 16px;
}

.article-list-item-user-info {
    text-align: end;
}