.article-page {
    min-height: 100vh;
    margin: 0 auto;
    width: 50%;
}

.article-page-content {
    color: white;
    margin-top: 40px;
}

.article-content {
    display: flex;
    border: 1px solid #333333;
}

.article-content-right {
    margin-left: 24px;
}