.article-list-item {
    border-bottom: 1px solid #333333;
    color: white;
    display: flex;
    padding: 3px 0;
}

.article-list-item-right {
    flex-grow: 2;
    max-width: 60%;
    padding-left: 24px;
}

.article-list-item-user-info {
    text-align: end;
}

.article-list-item-user-info a {
    color: #3f51b5;
    text-decoration: none;
}

.article-list-item-user-info a:hover {
    color: #303F9F;
}