.navigationbar {
    background-color: #333333;
    box-shadow: 3px 3px 15px black;
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.navigationbar h1 {
    margin: 0;
    padding: 6px 0 0 20px;
}

.navigationbar a {
    color: white;
    text-decoration: none;
}

.navigationbar ul {
    display: flex;
}

.navigationbar ul li {
    font-size: 1.1rem;
    margin-right: 24px;
    list-style: none;
}

.user-navigationbar {
    color: white;
    display: flex;
}

.user-navigationbar button span {
    color: white;
}

.user-navigationbar button span:hover {
    color: #3f51b5;
}

.user-navigationbar a button {
    color: white;
}

.userinfo-navigationbar {
    padding: 17px 16px 0 0;
}

.user-right-navigationbar span {
    margin-top: 14px;
}

.user-right-navigationbar span:hover {
    color: #3f51b5;
}

.user-right-navigationbar .MuiBadge-badge {
    margin-top: 0;
}

.user-right-navigationbar a {
    margin: 14px 18px 0 0;
}

#logout-button {
    margin-right: 16px;
}

.visitor-right-navigationbar a {
    color: white;
}

.visitor-right-navigationbar button {
    margin: 14px 18px 0 0;
}