.editor-menuebar button {
    background-color: #3f51b5;
    border: none;
    border-right: 1px solid black;
    color: white;
}

.editor-menuebar button:hover {
    background-color: #3f51b5b6;
    cursor: pointer;
}

.editor-content {
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    height: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.editor-content:focus {
    border: 1px solid #3f51b5;
}