.articlelist-page {
    margin: 50px auto 0 auto;
    min-height: 100vh;
    width: 50%;
}

.articlelist-header {
    display: flex;
    justify-content: space-between;
}

.articlelist-header h2 {
    color: white;
    font-size: 30px;
    margin: 0;
}

.articlelist-header a {
    text-decoration: none;
}

.articlelist-filter {
    margin: 12px 0;
}

.articlelist-filter div {
    background-color: #333333;
    color: white;
}

.articlelist-sorting {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.articlelist-articledata {
    color: white;
}

.articlelist-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

/**************************/
/*        TABLETS         */
/**************************/
@media (max-width: 1200px) {
    .articlelist-page {
        width: 70%;
    }
}

/**************************/
/*       SMARTPHONES      */
/**************************/
@media (max-width: 700px) {
    .articlelist-page {
        width: 95%;
    }
}