.voting-list-item {
    border-bottom: 1px solid #333333;
    display: flex;
    padding: 3px 0;
}

.voting-list-item p {
    text-align: center;
    padding: 32px 16px 0 32px;
}

.voting-list-item-left {
    color: #00cc00;
    padding: 19px 0 0 24px;
}

.voting-list-item-right {
    flex-grow: 2;
    padding-left: 40px;
}